body {
    margin: 0px;
}

/* para quitar las viñetas */
ul {
    list-style: none;
    padding: 0px; /* Este me permite quitar los que pone por defecto */
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: green;
    border-bottom: 1px solid greenyellow;
    box-shadow: 1px 1px lightsalmon;
}

.navbar > li {
    display: flex;
    align-items: center;
  }

.logo {
    height: 70px;
}

.botonGenerico
{
    /*Este va a tener los diseños estandar que se necesitan */
    border: 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bolder;

}

.botonGenerico:hover{  /*Esta clase es para que yo le diga como quierop que se mueva el mouse cuando pase por esa zona */
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color:yellow;
    color:darkgoldenrod;
}

.mainButton:hover {
    box-shadow: 2px 2px greenyellow;
}

.secondaryButton {
    background-color: rgb(77, 194, 139);
    color: white;
}

.secondaryButton:hover{  /*Esta clase es para que yo le diga como quierop que se mueva el mouse cuando pase por esa zona */
    box-shadow: 3px 3px lightblue;
}   

.buscar {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
     justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blue;
}

.buscar > input {  /*Esto quiere decir que cualquier input que este por debajo de la clase buscar yo le puedo aplicar los parametros de esta clase */
    outline: none;
    border: 0px;
}


.iconoBusqueda:hover {
    color: blue;
  }
  
  .breedCardContainer {
    display: flex;
  }
  
  .breedCard {
    margin: 10px; /*espacio en que quedan separadas las imagenes*/
    background-color: lightcoral;
    box-shadow: 5px 10px 5px lightpink; /*El ultimo numero de pixeles es el difuminado de la sombra*/
    border-top-right-radius: 10px; /*Estp es para que la imagen quede con bordes redondeados*/
    border-top-left-radius: 10px;
  }

  .breedTitle {
      color:azure;
      margin: 10px;
      font-weight: bold;
      font-size: x-large;
      
  }
  
  .contenedorImagen {
    width: 280px;
    height: 350px;
    display: flex;
  }
  
  .contenedorImagen > img {
    object-fit: cover; /*para colocarle un contenedor a la imagen*/
    width: 100%;
    border-top-right-radius: 10px; /*Estp es para que la imagen quede con bordes redondeados*/
    border-top-left-radius: 10px;
  }