body {
    margin: 0px;
}

/* para quitar las viñetas */
ul {
    list-style: none;
    padding: 0px; /* Este me permite quitar los que pone por defecto */
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button
{
    /*Este va a tener los diseños estandar que se necesitan */
    border: 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bolder;

}

.button:hover{  /*Esta clase es para que yo le diga como quierop que se mueva el mouse cuando pase por esa zona */
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color: pink;
    color: blue;
}

.mainButton:hover {
    box-shadow: 2px 2px greenyellow;
}

.secondaryButton {
    background-color: lightgray;
    color: black;
}

.secondaryButton:hover{  /*Esta clase es para que yo le diga como quierop que se mueva el mouse cuando pase por esa zona */
    box-shadow: 3px 3px lightblue;
}   